* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: futura;
  src: url('../fonts/futura/bold.ttf');
}

@font-face {
  font-family: futura-bold;
  src: url('../fonts/futura/extra-bold.ttf');
}

.app {
  width: 100%;
}